{% extends 'base.html' %}

{% block title %}
    Kalit so'z esdan chiqdimi?
{% endblock title %}

{% block content %}
<style>
    h2, p, form {
        background: #FFEFD5;
    }
</style>
    <h2>
        Kalit so'z esingizdan chiqdimi?
    </h2>
    <p>
        Emailingizni kiritin, parolni o'zgartirish uchun link yuboramiz
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Yuborish" class="btn btn-success">
    </form>
{% endblock content %}